@charset "UTF-08";

@import url(/src/styles/variaveis.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Vai medir o tamanho da caixa de borda a borda */
    outline: none;
    font-family: var(--font1), monospace;
}